[submodule "kubo-sys"]
	path = go/kubo-sys
	url = https://github.com/RandyMcMillan/kubo.git
[submodule "go/nostr"]
	path = go/nostr
	url = https://github.com/RandyMcMillan/go-nostr.git
[submodule "go/kubo-sys"]
	path = go/kubo-sys
	url = https://github.com/RandyMcMillan/kubo.git
[submodule "go/libp2p"]
	path = go/libp2p
	url = git@github.com:RandyMcMillan/go-libp2p.git
